body {
    background-color: #2D3264;
}

.titulo {
    top: 10%;
    font-family: 'Montserrat', sans-serif;
    background-color: #2D3264;
    color: white;   
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    display: block;

}

.subtitulo {
    top: 10%;
    font-family: 'Montserrat', sans-serif;
    background-color: #2D3264;
    color: white;   
    font-size: 1em;
    text-align: center;
    margin-top: 1em;
}

.pregunta {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.btn-0 {
    background-color: red; 
    border-color: red; 
    color: #fff;
}

.btn-1 {
    background-color: goldenrod; 
    border-color: goldenrod; 
    color: #fff;
}

.btn-3 {
    background-color: darkseagreen; 
    border-color: darkseagreen; 
    color: #fff;
}


.texto{
    color: white;
    text-align: center;
    margin-bottom: 1em;
}


/* Formulario */

.middle {
    
    position: absolute;
    width: 100%;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}


.middle2 {
    
    position: absolute;
    width: 100%;
    display: contents;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.formulario {
    margin: auto;
    display: block;
    text-align: center;
}

.formulario .radio {
    display: inline;
    vertical-align: top;
}

.formulario .radio2{
    margin: 0px 10px 10px 5px;
    width: auto;
}
.formulario label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
   
    padding: 10px 0px 0px 0px;
}
.formulario .label{
    display: inline-block;
}

.formulario ul {
    width: 100%;
    padding-inline-start: 0px;
    padding-top: 30px;
}
.formulario ul li {
    width: 49%;
    display: inline-block;
    margin: 0em 2em 0em 2em;
}

.formulario ul li > * {
    width: 100%;
}

.formulario .boton {
    background-color: #D99729;
    color: white;
    border-radius: 15px;
    border-color: #D99729;
    border-style: solid;
    padding: 5px 15px;
    margin-top: 15px;
    width: 125px;
    height: 45px;
    font-size: medium;
    font-weight: bold;
}

.formulario .boton:hover{
    background-color: #eebb2e;
    color: #2C2C2C;
    text-decoration: none;
    box-shadow: 4px 4px;
    font-weight: bold;
}

.formulario .boton2 {
    background-color: #D99729;
    color: white;
    border-radius: 15px;
    border-color: #D99729;
    border-style: solid;
    padding: 5px 15px;
    margin-top: 15px;
    width: 49%;
    height: 45px;
    font-size: medium;
    font-weight: bold;
}

.formulario .boton2:hover{
    background-color: #eebb2e;
    color: #2C2C2C;
    text-decoration: none;
    box-shadow: 4px 4px;
    font-weight: bold;
}

.formulario .boton3 {
    background-color: #D99729;
    color: white;
    border-radius: 15px;
    border-color: #D99729;
    border-style: solid;
    padding: 5px 15px;
    margin-top: 15px;
    width: 35%;
    height: 45px;
    font-size: medium;
    font-weight: bold;
}

.formulario .boton3:hover{
    background-color: #eebb2e;
    color: #2C2C2C;
    text-decoration: none;
    box-shadow: 4px 4px;
    font-weight: bold;
}

.formulario .campo {
    background-color: rgba(37, 37, 37, .61);
    border-radius: 5px;
    border-color: #D99729;
    border-style: solid;
    width: 60%;
    height: 35px;
    margin-bottom: 10px;
    color: white;
    
}

.formulario2 {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 18px;
}

.formulario2 ul li > * {
    width: 100%;

}

.formulario2 ul {
    width: 100%;
    padding-inline-start: 0px;
    padding-top: 50px;
}

.formulario2 ul li {
    width: 49%;
    display: inline-flex;
    margin: 0em 2em 0em 2em;
    color: white;
    text-align: center;
}

.formulario2 label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    border: 0px;

}

.link {
    color: #D99729;
    font-weight: bold;
}

.link:hover {
    color: #fff;
}

.enviar {
    margin: 3em auto;
    display: block;
}

.boton {
    background-color: #D99729;
    color: white;
    border-radius: 15px;
    border-color: #D99729;
    border-style: solid;
    padding: 5px 15px;
    margin-top: 15px;
    width: 125px;
    height: 45px;
    font-size: medium;
    font-weight: bold;
}

.boton:hover{
    background-color: #eebb2e;
    color: #2C2C2C;
    text-decoration: none;
    box-shadow: 4px 4px;
    font-weight: bold;
}

.resultados{
    background-color: #CECECE;
    margin: 10%;
    border-radius: 20px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;   
}

.resultados .titulo2{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 5px;
}

.resultados .res{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 5px;
    font-size: x-large;
    padding-top: 5em;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;  
}

.perfil {
    position: absolute;
    top: 15px;
    right: 300px;
  }

.profileButton{
    background-color:#2D3264;
    border-color: #2D3264;
    border-style: solid;
}


