<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"><!-- Aqui se agrega el bootstrap de las tablas-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">Iowa Gambling Task</h1>
        <div class="resultados">
            <h1 class="titulo2">Cuestionario Terminado</h1>
            <h2 class="res">Selecciona los horarios en los que preferirías asistir. Podríamos contactarte para confirmar.
            </h2>
            <form action = "/resultados" autocomplete="off" method = "POST"> 
                <label class="container-2">Lunes
                    <input type="checkbox" name = "dias" id = "lunes" value = "Lunes">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="container-2">Martes
                    <input type="checkbox" name = "dias" id = "martes" value = "Martes">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="container-2">Miércoles
                    <input type="checkbox" name = "dias" id = "miercoles" value = "Miércoles">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="container-2">Jueves
                    <input type="checkbox" name = "dias" id = "jueves" value = "Jueves">
                    <span class="checkmark"></span>
                  </label>

                  <label class="container-2">Viernes
                    <input type="checkbox" name = "dias" id = "viernes" value = "Viernes">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="container-2">Sábado
                    <input type="checkbox" name = "dias" id = "sabado" value = "Sábado">
                    <span class="checkmark"></span>
                  </label>

                  <label style="display: block; width: 65%; position: relative; left: 38%;">
                    <span>Entre</span>

                    <select style = "display: inline; background-color: rgb(31, 31, 109); color: white; top: 100em;" name="hora" id="time" value = "Inicio">
                      <option value="8:00am">8:00 am</option>
                      <option value="8:30am">8:30 am</option>
                      <option value="9:00am">9:00 am</option>
                      <option value="9:30am">9:30 am</option>
                      <option value="10:00am">10:00 am</option>
                      <option value="10:30am">10:30 am</option>
                      <option value="11:00am">11:00 am</option>
                      <option value="11:30am">11:30 am</option>
                      <option value="12:00pm">12:00 pm</option>
                      <option value="12:30pm">12:30 pm</option>
                      <option value="1:00pm">1:00 pm</option>
                      <option value="1:30pm">1:30 pm</option>
                      <option value="2:00pm">2:00 pm</option>
                      <option value="2:30pm">2:30 pm</option>
                      <option value="3:00pm">3:00 pm</option>
                      <option value="3:30pm">3:30 pm</option>
                      <option value="4:00pm">4:00 pm</option>
                      <option value="4:30pm">4:30 pm</option>
                      <option value="5:00pm">5:00 pm</option>
                      <option value="5:30pm">5:30 pm</option>
                      <option value="6:00pm">6:00 pm</option>
                      <option value="6:30pm">6:30 pm</option>
                      <option value="7:00pm">7:00 pm</option>
                      <option value="7:30pm">7:30 pm</option>
                    </select>

                    <span>Y</span>

                    <select style = "display: inline; background-color: rgb(31, 31, 109); color: white; top: 100em;" name="fin" id="time" value = "Fin">
                      <option value="8:00am">8:00 am</option>
                      <option value="8:30am">8:30 am</option>
                      <option value="9:00am">9:00 am</option>
                      <option value="9:30am">9:30 am</option>
                      <option value="10:00am">10:00 am</option>
                      <option value="10:30am">10:30 am</option>
                      <option value="11:00am">11:00 am</option>
                      <option value="11:30am">11:30 am</option>
                      <option value="12:00pm">12:00 pm</option>
                      <option value="12:30pm">12:30 pm</option>
                      <option value="1:00pm">1:00 pm</option>
                      <option value="1:30pm">1:30 pm</option>
                      <option value="2:00pm">2:00 pm</option>
                      <option value="2:30pm">2:30 pm</option>
                      <option value="3:00pm">3:00 pm</option>
                      <option value="3:30pm">3:30 pm</option>
                      <option value="4:00pm">4:00 pm</option>
                      <option value="4:30pm">4:30 pm</option>
                      <option value="5:00pm">5:00 pm</option>
                      <option value="5:30pm">5:30 pm</option>
                      <option value="6:00pm">6:00 pm</option>
                      <option value="6:30pm">6:30 pm</option>
                      <option value="7:00pm">7:00 pm</option>
                      <option value="7:30pm">7:30 pm</option>
                    </select>
                  </label>
                  
                <button type="submit" class="boton" style="position: relative; left: 43.8%;">Enviar</button><br>
        </form>
    </div>

</body>
</html>